/** Color */

$dark-gray : #414042;
$gray : #939598;
$light-gray : #dddee1;


$blue : #0065bd;
$light-blue : #add8e6;

$red : #b22222;
$gold: #ffd700;

/** Font */

$font: "Microsoft Yahei", serif;

$font-heading: "Roboto Slab", serif;
