@media only screen and (max-width: 1024px) {
  
  .content-wrap {
    width: 90%;
  }

  .field {
    
    &.checkbox {

    }
  }

  #search-form,
  #searh-result {
    width: 100%;
    max-width: none;
    float: none;
  }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 680px) {
  
  .field {
    &.select {
      select {
        width: 100%;
      }
    }

    .cardtype label {
      display: block;
      width: 100%;
    }
  }
}