/** Import libraries */
@import "compass";
@import "bourbon/bourbon";

// /** Import CSS  */
@import "CSS:../vendor/normalize";
@import "CSS:../vendor/boilerplate";
@import "CSS:../vendor/font-awesome.min";


/** Import Constant */
@import "constants";
@import "animation";

body {
  background-color: $light-gray;
  color: $dark-gray;
  font-family: $font;
  font-size: 18px;
  line-height: 1.4;
}

h1 {
  text-transform: capitalize;
  font-weight: 700;
  font-style: italic;
  font-family: $font-heading;
  color: $red;
  text-shadow: 0px 0px 10px $gold;
  margin: 20px 0;
}

.content-wrap {
  width: 1000px;
  margin: 0 auto;
}

.fa {
  width: 1em;
  text-align: center;
}

%no-margin-top-bottom {

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

%hidden-input-control {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

%button-styles {
  padding: 10px 15px;
  color: #fff;
  background-color: $blue;
  border: none;
  outline: none;
  @include box-shadow(2px 2px 5px 0 rgba(#000, 0.3));
  @include border-radius(5px);

  &:hover {
    background-color: rgba($blue, 0.9);
  }

  &:active {
    @include box-shadow(2px 2px 5px 0 rgba(#000, 0.3) inset);
  }

  &:disabled {
    background-color: $light-gray;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

form {
  @extend %no-margin-top-bottom;
  @include border-radius(5px);
}

.field {

  margin: 20px 0;

  > span:first-child {
    display: block;
  }

  &.checkbox {
    
    label {

      display: inline-block;
      cursor: pointer;
      margin: 5px 30px 5px 0;

      input {
        
        @extend %hidden-input-control;

        & + span {
          @extend .fa;
          @extend .fa-square-o;
          margin-right: 5px;
        }

        &:checked + span:before {
          @extend .fa-check-square;
          color: $blue;
          @include animation(icon-checked 300ms ease-in-out);
        }
      }
    }
  }

  &.radio {

    label {
      display: inline-block;

      input {
        @extend %hidden-input-control;
      }
    }
  }

  &.select {

    select {
      display: block;
      box-sizing: border-box;
      padding: 5px 0;
      border: 1px solid $gray;
      min-width: 200px;
      @include border-radius(5px);
    }
  }

  &.recaptcha {
    margin: 10px 0;
  }
}

.actions {

  margin: 10px 0;

  input[type="submit"],
  input[type="reset"] {
    @extend %button-styles;
  }
}

#search-form {
  @extend .left;
  max-width: 500px;
  margin-bottom: 20px;
  @include box-sizing(border-box);
}

#search-result {
  @extend .left;
  margin-bottom: 20px;
  @extend %no-margin-top-bottom;
}

@import "responsive";