header {

  // border-bottom: 1px solid #414042;
  @include box-sizing(border-box);

  > .content {
    @extend .cap;
    @extend .clearfix;
    max-width: none;
    padding: 10px;
  }

  h1 {
    float: left;
    margin: 0;
  }

  .view-count {
    float: right;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    font-family: $font-secondary;
    margin-right: 10px;

    &:before {
      @extend .fa;
      @extend .fa-eye;
      margin-right: 10px;
    }
  }

  .viewers {
    
    float: right;
    font-size: 20px;
    line-height: 40px;
    font-family: $font-secondary;
    margin-right: 20px;

    span {
      
    }

    &:before {
      @extend .fa;
      @extend .fa-user;
      margin-right: 10px;
    }
  }

  .fa-comments {
    float: right;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    outline: none;
    display: none;

    &.chat-opened {
      color: $color-brick-red;
    }

    @include mq($until: desktop-11) {
      display: block;
    }
  }
}