@include keyframes(fadeIn) {
  0% {
    @include opacity(0);
  }

  100% {
    @include opacity(1);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

.twitch-chat {
  float: right;
  height: 100%;
  overflow: hidden;
  width: 335px;
  @include animation(fadeIn 300ms ease-in-out);
  
  &.hidden-chat {
    @include mq($until: desktop-10) {
      display: none;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}