{% extends "template/default.html" %}
{% set title= "SecondHong Live Boardcast" %}

{% block css %}
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ base_url('css/boardcast.css') }}">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ base_url('js/boardcast.js') }}"></script>
{% endblock %}

{% block header %}
<div class="content">
    <button class="fa fa-comments"></button>
    <span class="view-count">{{ views_count }}</span>
    <form action="{{ site_url('get_viewers') }}" class="viewers"><span>{{ chatroom.chatter_count }}</span></form>
    <h1>SecondHong Live Boardcast</h1>
</div>
{% endblock %}

{% block content %}
<main>
    <div class="content">
        <div class="twitch-chat">
            <iframe src="http://www.twitch.tv/secondhong/chat?popout=" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="video-wrapper">
            <div class="twitch-live">
                <iframe src="http://www.twitch.tv/secondhong/embed" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</main>
{% endblock %}